/* variáveis */
:root {
  --pageBackground: #f0f0f0;
  --cardBackground: #fff;
  --fontColor: #393939;
  --shadows: rgba{57, 57, 57, 0.2}
}

/* fontes  */
/* @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;1,500&family=Roboto&family=Secular+One&family=Ubuntu&display=swap'); */

/* reset  */
html,body{
    height: 100%;
    margin: 0;
}

/* estilos  basicos */
*{
    font-family: 'Roboto',sans-serif;
    color: var(--fontColor);
}

body{
    background-color: var(--pageBackground);
}


